@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100;200;300;400;500;600;700;800&display=swap');

.quiz-questions-box {
  background: #ffffff;
  padding: 20px;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.col-4 {
  /* flex: 1;
  display: flex; */
  float: left;
  /* justify-content: center; */
}

.stepper-row {
  justify-content: center;
}

.question-container {
  padding: 16px;
  border: 3px solid #2d264b;
  border-radius: 30px 0 30px 0;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: larger;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer h1 {
  font-size: 24px;
  margin-bottom: 8px;
}

.clock {
  display: flex;
  /* align-items: center; */
}

.numbers {
  font-size: 24px;
  margin-left: 10px;
}

.colon {
  font-size: 24px;
  /* margin: 0 8px; */
}

.options-list {
  display: flex;
  flex-direction: column;
  width: 75%;
  gap: 15px;
}

.option {
  position: relative;
  color: #212529;
  font-size: 16px;
  background: #ffffff;
  border: 3px solid #212529;
  border-radius: 16px 0 16px 0;
  padding: 11px;
  cursor: pointer;
  margin-bottom: 16px;
  padding-left: 60px;
  font-weight: bold;
}

.option::before {
  display: inline-block;
  position: absolute;
  background-color: #b21d21;
  width: 40px;
  height: 40px;
  top: -3px;
  left: -3px;
  border: 3px solid #212529;
  border-radius: 16px 0;
  text-align: center;
  font-weight: bold;
  color: white;
  align-content: center;
}

.option-a::before {
  content: 'A';
}

.option-b::before {
  content: 'B';
}

.option-c::before {
  content: 'C';
}

.option-d::before {
  content: 'D';
}

.option:hover {
  background: #f9f9f9;
}

.selected-answer {
  background: #dee2e6;
  border: 3px solid #202327;
  transform: translateY(0);
  transition: transform 0.5s ease;
}

.selected-answer.selected {
  transform: translate(-5px, -5px);
  /* transform: translateX(-5px); */
}

.selected-answer:hover {
  background: #dee2e6;
}

.navigation-button {
  background: #b21d21;
  border-radius: 16px 0;
  border: 3px solid #b21d21;
  width: 100%;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
  height: 45px;
}

.navigation-button:disabled {
  background: #e7e8e9;
  color: #9fa3a9;
  cursor: not-allowed;
}

.navigation-button:hover {
  background-color: #7a0f13;
  border: 3px solid #7a0f13;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mt-4 {
  margin-top: 16px;
}

.left-menu-bar {
  width: 15%;
  height: 100vh;
  background-color: #001529;
}

.unanswered {
  color: red;
  font-weight: bold;
}

.question-tracker {
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  flex: 1;
}

.li-tracker {
  list-style-type: none;
}
