<!DOCTYPE html>
<html>
<head>
    <title>Assessment Invitation</title>
</head>
<body>

    <p>Dear Candidate,</p>
    <br>
    <p>We are pleased to invite you to the next stage of the recruitment process at Nitor Infotech Pvt. ltd.</p>
    <p>To evaluate your skills and qualifications further, we would like you to complete an assessment test.</p>
    <p>You will find the assessment link and detailed instructions in the attached document. Please complete the assessment by <b>{{deadline}}</b>.</p>
    <p>We appreciate your interest in the position and look forward to reviewing your assessment results.</p>
    <p>Assessment Link : <b>{{assessment_link}}</b></p>
    <p>Please make sure you use this email address for the assessment, Best of Luck....</p>
    <br>
    <p>Best regards,</p>
    <p>Nitor Infotech Pvt. Ltd.</p>
</body>
