<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assessment Results</title>
</head>
<body>
    <p>Dear,</p>

    <p>I hope this email finds you well.</p>
    
    <p>We have completed the assessment for [Candidate's Name] and are sharing the results for your review.</p>
    <p>Please review the results and let us know if you have any questions or require further information.</p>
    <p>Thank you for your attention to this matter.</p>

    <p>Best regards,</p>
    <p>Nitor Infotech Pvt. Ltd.</p>

</body>
</html>

